* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 100vw;
}

#upper-container {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    margin-top: 33px;
}

#input-value {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 4px;
    font-size: 58px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

#convert-btn {
    width: 117px;
    height: 42px;
    color: #3D3D3D;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    margin-top: 25px;
}

#lower-container {
    background-color: #F4F4F4;
    width: 550px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#length-section,
#volume-section,
#mass-section {
    background-color: #FFFFFF;
    width: 500px;
    height: 108.57px;
    border: 1px solid #FFFFFF;
    border-top-left-radius: 5px;
}

#length-section {
    margin-top: 36px;
}

#volume-section {
    margin-top: 23.43px;
}

#mass-section {
    margin-top: 23.43px;
}

.header {
    font-size: 20px;
    color: #5A537B;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 31px;
}

#lower-container p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #353535;
    text-align: center;
    margin-top: 9px;
}